USE [master]
GO
/****** Object:  Database [Tktmgmt]    Script Date: 12-06-2026 12.09.42 Sham ******/
CREATE DATABASE [Tktmgmt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tktmgmt', FILENAME = N'D:\sqlexpressms\MSSQL17.SQLEXPRESS\MSSQL\DATA\Tktmgmt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tktmgmt_log', FILENAME = N'D:\sqlexpressms\MSSQL17.SQLEXPRESS\MSSQL\DATA\Tktmgmt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tktmgmt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tktmgmt]
GO
/****** Object:  UserDefinedTableType [dbo].[TicketBulkType]    Script Date: 12-06-2026 12.09.44 Sham ******/
CREATE TYPE [dbo].[TicketBulkType] AS TABLE(
	[Title] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[PriorityId] [int] NULL,
	[TypeId] [int] NULL,
	[CreatedByUserId] [int] NULL
)
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[Source] [nvarchar](200) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Role]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleGuid] [varchar](32) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_TicketPriority]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_TicketPriority](
	[PriorityId] [int] IDENTITY(1,1) NOT NULL,
	[PriorityGuid] [varchar](32) NOT NULL,
	[PriorityName] [varchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PriorityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_TicketStatus]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_TicketStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusGuid] [varchar](32) NOT NULL,
	[StatusName] [varchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_TicketType]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_TicketType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeGuid] [varchar](32) NOT NULL,
	[TypeName] [varchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Ticket]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[TicketGuid] [varchar](32) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Description] [varchar](max) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[AssignedToUserId] [int] NULL,
	[StatusId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserGuid] [varchar](32) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ticket_CreatedOn]    Script Date: 12-06-2026 12.09.44 Sham ******/
CREATE NONCLUSTERED INDEX [IX_Ticket_CreatedOn] ON [dbo].[tbl_Ticket]
(
	[CreatedOn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ticket_PriorityId]    Script Date: 12-06-2026 12.09.44 Sham ******/
CREATE NONCLUSTERED INDEX [IX_Ticket_PriorityId] ON [dbo].[tbl_Ticket]
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ticket_StatusId]    Script Date: 12-06-2026 12.09.44 Sham ******/
CREATE NONCLUSTERED INDEX [IX_Ticket_StatusId] ON [dbo].[tbl_Ticket]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [RoleGuid]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT (getutcdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_TicketPriority] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [PriorityGuid]
GO
ALTER TABLE [dbo].[mst_TicketPriority] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_TicketPriority] ADD  DEFAULT (getutcdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[mst_TicketPriority] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_TicketStatus] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [StatusGuid]
GO
ALTER TABLE [dbo].[mst_TicketStatus] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_TicketStatus] ADD  DEFAULT (getutcdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[mst_TicketStatus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_TicketType] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [TypeGuid]
GO
ALTER TABLE [dbo].[mst_TicketType] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_TicketType] ADD  DEFAULT (getutcdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[mst_TicketType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Ticket] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [TicketGuid]
GO
ALTER TABLE [dbo].[tbl_Ticket] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Ticket] ADD  DEFAULT (getutcdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[tbl_Ticket] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT (replace(CONVERT([varchar](36),newid()),'-','')) FOR [UserGuid]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT (getutcdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_AssignedUser] FOREIGN KEY([AssignedToUserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_Ticket] CHECK CONSTRAINT [FK_Ticket_AssignedUser]
GO
ALTER TABLE [dbo].[tbl_Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_CreatedUser] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_Ticket] CHECK CONSTRAINT [FK_Ticket_CreatedUser]
GO
ALTER TABLE [dbo].[tbl_Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Priority] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[mst_TicketPriority] ([PriorityId])
GO
ALTER TABLE [dbo].[tbl_Ticket] CHECK CONSTRAINT [FK_Ticket_Priority]
GO
ALTER TABLE [dbo].[tbl_Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[mst_TicketStatus] ([StatusId])
GO
ALTER TABLE [dbo].[tbl_Ticket] CHECK CONSTRAINT [FK_Ticket_Status]
GO
ALTER TABLE [dbo].[tbl_Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[mst_TicketType] ([TypeId])
GO
ALTER TABLE [dbo].[tbl_Ticket] CHECK CONSTRAINT [FK_Ticket_Type]
GO
ALTER TABLE [dbo].[tbl_User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[mst_Role] ([RoleId])
GO
ALTER TABLE [dbo].[tbl_User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  StoredProcedure [dbo].[usp_BulkInsertTicket]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_BulkInsertTicket]
    @TicketData TicketBulkType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StatusId INT;

    -- Default Status = Open
    SELECT @StatusId = StatusId
    FROM mst_TicketStatus
    WHERE StatusName = 'Open' AND IsActive = 1;

    IF @StatusId IS NULL
    BEGIN
        PRINT 'Default status not found';
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO tbl_Ticket (
            Title,
            Description,
            CreatedByUserId,
            StatusId,
            PriorityId,
            TypeId,
            CreatedBy,
            UpdatedBy
        )
        SELECT
            Title,
            Description,
            CreatedByUserId,
            @StatusId,
            PriorityId,
            TypeId,
            CreatedByUserId,
            CreatedByUserId
        FROM @TicketData;

        COMMIT TRANSACTION;

        PRINT 'Bulk insert successful';

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        PRINT ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateTicket]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CreateTicket]
(
    @Title VARCHAR(200),
    @Description VARCHAR(MAX),
    @PriorityId INT,
    @TypeId INT,
    @CreatedByUserId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @TicketGuid VARCHAR(36) =
            REPLACE(CONVERT(VARCHAR(36), NEWID()), '-', '');

        DECLARE @StatusId INT;

        SELECT @StatusId = StatusId
        FROM mst_TicketStatus
        WHERE StatusName = 'Open' AND IsActive = 1;

        IF @StatusId IS NULL
        BEGIN
            SELECT '' AS TicketGuid, 'Default status not found' AS Message;
            RETURN;
        END

        INSERT INTO tbl_Ticket
        (
            TicketGuid,
            Title,
            Description,
            StatusId,
            PriorityId,
            TypeId,
            CreatedByUserId,
            CreatedBy,
            UpdatedBy
        )
        VALUES
        (
            @TicketGuid,
            @Title,
            @Description,
            @StatusId,
            @PriorityId,
            @TypeId,
            @CreatedByUserId,
            @CreatedByUserId,
            @CreatedByUserId
        );

        SELECT 
            @TicketGuid AS TicketGuid,
            'Ticket created successfully' AS Message;

    END TRY
    BEGIN CATCH
        SELECT 
            '' AS TicketGuid,
            ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateUser]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CreateUser]
    @FirstName VARCHAR(100),
    @LastName VARCHAR(100),
    @Email VARCHAR(150),
    @PasswordHash VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleId INT;
    DECLARE @UserGuid VARCHAR(36);

    SELECT TOP 1 @RoleId = RoleId
    FROM mst_Role
    WHERE LOWER(RoleName) = 'user' AND IsActive = 1;

    IF @RoleId IS NULL
    BEGIN
        SELECT '' AS UserGuid, 'Default role not found' AS Message;
        RETURN;
    END

    BEGIN TRY
        IF EXISTS (SELECT 1 FROM tbl_User WHERE Email = @Email)
        BEGIN
            SELECT '' AS UserGuid, 'Email already exists' AS Message;
            RETURN;
        END

        SET @UserGuid = REPLACE(CONVERT(VARCHAR(36), NEWID()), '-', '');

        INSERT INTO tbl_User
        (
            UserGuid,
            FirstName,
            LastName,
            Email,
            PasswordHash,
            RoleId,
            CreatedBy,
            UpdatedBy,
            IsActive,
            CreatedOn
        )
        VALUES
        (
            @UserGuid,
            @FirstName,
            @LastName,
            @Email,
            @PasswordHash,
            @RoleId,
            1,
            1,
            1,
            GETDATE()
        );

        SELECT @UserGuid AS UserGuid, 'User created successfully' AS Message;

    END TRY
    BEGIN CATCH
        SELECT '' AS UserGuid, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteTicket]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteTicket]
    @TicketGuid VARCHAR(36)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM tbl_Ticket WHERE TicketGuid = @TicketGuid AND IsActive = 1
    )
    BEGIN
        SELECT 'Ticket not found or already deleted' AS Message;
        RETURN;
    END

    UPDATE tbl_Ticket
    SET IsActive = 0
    WHERE TicketGuid = @TicketGuid;

    SELECT 'Ticket deleted successfully' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteUser]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteUser]
    @UserGuid VARCHAR(36)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM tbl_User 
        WHERE UserGuid = @UserGuid AND IsActive = 1
    )
    BEGIN
        SELECT 'User not found or already deleted' AS Message;
        RETURN;
    END

    UPDATE tbl_User
    SET IsActive = 0
    WHERE UserGuid = @UserGuid;

    SELECT 'User deleted successfully' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTicketByGuid]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetTicketByGuid]
    @TicketGuid VARCHAR(36)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.TicketGuid,
        t.Title,
        t.Description,
        s.StatusName,
        p.PriorityName,
        ty.TypeName,
        t.CreatedOn
    FROM tbl_Ticket t
    JOIN mst_TicketStatus s ON t.StatusId = s.StatusId
    JOIN mst_TicketPriority p ON t.PriorityId = p.PriorityId
    JOIN mst_TicketType ty ON t.TypeId = ty.TypeId
    WHERE t.TicketGuid = @TicketGuid
      AND t.IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTickets]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetTickets]
    @PageNumber INT,
    @PageSize INT,
    @StatusId INT = NULL,
    @PriorityId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.TicketGuid,
        t.Title,
        t.Description,
        s.StatusName,
        p.PriorityName,
        ty.TypeName,

        -- 🔥 THIS IS THE FIX
        COUNT(*) OVER() AS TotalCount

    FROM tbl_Ticket t
    JOIN mst_TicketStatus s ON t.StatusId = s.StatusId
    JOIN mst_TicketPriority p ON t.PriorityId = p.PriorityId
    JOIN mst_TicketType ty ON t.TypeId = ty.TypeId

    WHERE 
        t.IsActive = 1
        AND (@StatusId IS NULL OR t.StatusId = @StatusId)
        AND (@PriorityId IS NULL OR t.PriorityId = @PriorityId)

    ORDER BY t.CreatedOn DESC

    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTicketSummary]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetTicketSummary]
AS
BEGIN
    SET NOCOUNT ON;

    -- Total Active Tickets
    SELECT COUNT(*) AS TotalActiveTickets
    FROM tbl_Ticket
    WHERE IsActive = 1;

    -- Priority-wise Breakdown
    SELECT 
        p.PriorityName,
        COUNT(*) AS TicketCount
    FROM tbl_Ticket t
    JOIN mst_TicketPriority p ON t.PriorityId = p.PriorityId
    WHERE t.IsActive = 1
    GROUP BY p.PriorityName;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByGuid]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetUserByGuid]
    @UserGuid VARCHAR(36)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserGuid,
        (u.FirstName + ' ' + u.LastName) AS FullName,
        u.Email,
        r.RoleName
    FROM tbl_User u
    JOIN mst_Role r ON u.RoleId = r.RoleId
    WHERE u.UserGuid = @UserGuid
      AND u.IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserDetails]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetUserDetails]
    @RoleName VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserGuid,
        (u.FirstName + ' ' + u.LastName) AS FullName,
        u.Email,
        r.RoleName
    FROM tbl_User u
    JOIN mst_Role r ON u.RoleId = r.RoleId
    WHERE 
        u.IsActive = 1
        AND (@RoleName IS NULL OR r.RoleName = @RoleName);
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_LogError]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_LogError]
    @Message NVARCHAR(MAX),
    @StackTrace NVARCHAR(MAX),
    @Source NVARCHAR(200)
AS
BEGIN
    INSERT INTO ErrorLog (Message, StackTrace, Source)
    VALUES (@Message, @StackTrace, @Source);
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Login]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Login]
    @Email VARCHAR(100)
AS
BEGIN
    SELECT 
        u.UserId,
        u.UserGuid,      -- 🔥 ADD THIS
        u.Email,
        u.PasswordHash,
        r.RoleName
    FROM tbl_User u
    JOIN mst_Role r ON u.RoleId = r.RoleId
    WHERE u.Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateTicket]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateTicket]
    @TicketGuid VARCHAR(36),
    @Title VARCHAR(200),
    @Description VARCHAR(MAX),
    @PriorityId INT,
    @StatusId INT,
    @AssignedToUserId INT = NULL,
    @UpdatedBy INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TicketId INT;

    SELECT @TicketId = TicketId
    FROM tbl_Ticket
    WHERE TicketGuid = @TicketGuid;

    IF @TicketId IS NULL
    BEGIN
        SELECT -1 AS Result, 'Ticket not found' AS Message;
        RETURN;
    END

    UPDATE tbl_Ticket
    SET 
        Title = @Title,
        Description = @Description,
        PriorityId = @PriorityId,
        StatusId = @StatusId,
        AssignedToUserId = @AssignedToUserId,
        UpdatedBy = @UpdatedBy,
        UpdatedOn = GETDATE()
    WHERE TicketId = @TicketId;

    SELECT 1 AS Result, 'Ticket updated successfully' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUserRole]    Script Date: 12-06-2026 12.09.44 Sham ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateUserRole]
    @UserGuid VARCHAR(36),
    @RoleName VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserId INT;
    DECLARE @RoleId INT;

    -- Get UserId from GUID
    SELECT @UserId = UserId
    FROM tbl_User
    WHERE UserGuid = @UserGuid;

    IF @UserId IS NULL
    BEGIN
        SELECT 'User not found' AS Message;
        RETURN;
    END

    -- Get RoleId from RoleName
    SELECT @RoleId = RoleId
    FROM mst_Role
    WHERE RoleName = @RoleName;

    IF @RoleId IS NULL
    BEGIN
        SELECT 'Invalid role' AS Message;
        RETURN;
    END

    -- Update role
    UPDATE tbl_User
    SET RoleId = @RoleId
    WHERE UserId = @UserId;

    SELECT 'Role updated successfully' AS Message;
END;
GO
USE [master]
GO
